<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="home.css">
	<link rel="stylesheet" type="text/css" href="login.css">
    <link rel="stylesheet" type="text/css" href="dentalinfo.css">
</head>
<body>
    <div class="header">
        <div class="clinic">
            <h1>CLIN<span class="diff">IQUE</span></h1>
        </div>
    
        <div class= "emergency">
            <img src="../public/images/phone-call.png" alt="" style="width:20px;height:30px;" class="icon">
            <h2>EMERGENCY</h2>
            <h3>681-812-255</h3>
        </div>
    
        <div class= "workhr">
            <img src="../public/images/clock.png" alt="" style="width:20px;height:30px;" class="icon">
            <h2>WORK HOUR</h2>
            <h3>8:00-16:00 </h3>
        </div>
    
        <div class="loc">
            <img src="../public/images/iphone-call.png" alt="" style="width:20px;height:30px;" class="icon">
            <h2>LOCATION</h2>
            <h3>Sanciangko St.</h3>
        </div>
    </div>

    <div class="dropdown">
        <nav>
            <ul>
                <li class="home"><a href="home.html">Home</a></li>
                <li><a href="#">Profile</a></li>   
                <li><a href="#" >PhysicalRecord</a>
                    <ul>
                        <li><a href="#">Medical Info</a></li>
                        <li><a href="#">Immunization</a></li>
                        <li><a href="#">Deworm</a></li>
                    </ul>       
                </li>
            <li><a href="#">DentalInfo</a></li>
            <li><a href="#">Result</a></li>
            <li><a href="#">Logout</a></li>
            </ul>
        </nav>     
    </div>

    <div class="dentalbutton">
        <button><a href="#">Dental Record</a></button>
        <button><a href="#">Book Appointment</a></button>
    </div>

</body>
</html>