<!DOCTYPE html>
<body>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="homecontent.css">
        <title>Clinique - Home</title>
    </head>

    <h3 class="title1">TRUSTED CARE</h3>
    <h2 class="title2">Our Doctors</h2>
        <div class="doctor">
        
            <div class="doc docone">
                <img src="../public/images/doc1.jpg" alt="doctor" style="width:100%;height:60%;">
                <h3 class="name">Alexis Reissfield</h3>
                <h3 class="role">PHYSICIAN</h3>
                    <div class="socmed">
                        <a href="#"><img src="../public/images/in.png" alt="IN" style="width:30px;height:30px;"></a>
                        <a href="#"><img src="../public/images/fb.png" alt="FB" style="width:30px;height:30px;"></a>
                        <a href="#"><img src="../public/imagesig.png" alt="IG" style="width:30px;height:30px;"></a>
                    </div>
                <button><a href="#">View Profile</a></button>
            </div>
            <div class="doc doctwo">
                <img src="../public/imagesdoc2.jpg" alt="doctor" style="width: 100%;height:60%;">
                <h3 class="name">John Doe</h3>
                <h3 class="role">PHYSICIAN</h3>
                    <div class="socmed">
                        <a href="#"><img src="../public/images/in.png" alt="IN" style="width:30px;height:30px;"></a>
                        <a href="#"><img src="../public/images/fb.png" alt="FB" style="width:30px;height:30px;"></a>
                        <a href="#"><img src="../public/images/ig.png" alt="IG" style="width:30px;height:30px;"></a>
                    </div>
                <button><a href="#">View Profile</a></button>
            </div>
            <div class="doc docthree">
                <img src="../public/images/doc3.jpg" alt="doctor" style="width: 100%;height:60%;">
                <h3 class="name">Joe Rizal</h3>
                <h3 class="role">PHYSICIAN</h3>
                    <div class="socmed">
                        <a href="#"><img src="../public/images/in.png" alt="IN" style="width:30px;height:30px;"></a>
                        <a href="#"><img src="../public/images/fb.png" alt="FB" style="width:30px;height:30px;"></a>
                        <a href="#"><img src="../public/images/ig.png" alt="IG" style="width:30px;height:30px;"></a>
                    </div>
                <button><a href="#">View Profile</a></button>
            </div>
        </div>

        <div class="footer">
            <div class="left">
                <h2>CLINIQUE</h2>
                <p>Leading the way in Medical</p>
                <p>Excellence, Trusted care.</p>
            </div>
            <div class="mid">
                <h4>Contact Us</h4>
                <h5>Call: (237) 681-812-255</h5>
                <h5>Email: fildineesoe@gmail.com</h5>
                <h5>Address: Sanciangko St.</h5>
                <h5>Cebu City, Philippines</h5>
            </div>
            <div class="right">
                <h4>Newsletter</h4>
             
                <form action="#">
                    <input class="info" type="text" id="email" name="email" value="Enter your email address">
                </form>
                
            </div>
        </div>
</body>
</html>