<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="nursemedrecords.css">
	    <link rel="stylesheet" type="text/css" href="heading.css">
        <title>Clinique - Home</title>
    </head>

<body>
    <div class="header">
        <div class="clinic">
            <h1>CLIN<span class="diff">IQUE</span></h1>
        </div>

        <div class= "emergency">
            <img src="phone-call.png" alt="" style="width:20px;height:30px;" class="icon">
            <h2>EMERGENCY</h2>
            <h3>681-812-255</h3>
        </div>

        <div class= "workhr">
            <img src="clock.png" alt="" style="width:20px;height:30px;" class="icon">
            <h2>WORK HOUR</h2>
            <h3>8:00-16:00 </h3>
        </div>

        <div class="loc">
            <img src="phone-call.png" alt="" style="width:20px;height:30px;" class="icon">
            <h2>LOCATION</h2>
            <h3>Sanciangko St.</h3>
        </div>
    </div>

    <div class="dropdown">
        <nav>
            <ul>
                <li class="home"><a href="home.html">Home</a></li>
                <li><a href="#">Profile</a></li>   
                <li><a href="#" >Medical Records</a> </li>
                <li><a href="#">Dental Info</a></li>
                <li><a href="#">Check-up Results</a></li>
            <li><a href="#">Logout</a></li>
            </ul>
         </nav>     
    </div>

    <h1><center> New Deworming Info </center></h1>

    <div class="formcontainer">
        <form action="#">
            <label for="" class="lbl">Deworm ID: </label>
            <input type="text" id="idno" name="idno" class="box"><br>
            <label for="" class="lbl">Student ID: </label>
            <input type="text" id="" name="" class="box"><br>
            <label for="" class="lbl">Date: </label>
            <input type="date" id="" name="" class="box"><br>
            <label for="" class="lbl">Parent's Consent: </label>
            <input type="file" class=""><br>
            <label for="" class="lbl">Remarks: </label>
            <input type="text" id="idno" name="idno" class="box"><br>
           
          
            <input type="submit" value="Submit">
            <input type="reset" value="Cancel">       
        </form>
    </div>
</body>
</html>

